.address-box{
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 0px;
  // height: 100%;
  background-color: #CCCCCC;
  overflow: scroll;
  // 标题
  .box-header{
    height: 40px;
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0;
    span{
      font-weight: bold;
      display: flex;
      align-items: center;
      .icon-back{
        width: 1em; height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        margin-right: 10px;
      }
    }
    a{
      background-color: #FF9900;
      padding: 5px 10px 5px;
      border-radius: 5px;
    }
  }

  .address-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5px;
    li{
      display: flex;
      align-items: center;
      background-color: white;
      padding: 0 10px 0;
      height: 70px;
      border-bottom: 1px solid #CCCCCC;
      margin-bottom: 5px;
      .icon {
        width: 1.2em; height: 1.2em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        margin-right: 10px;
        color: #CCCCCC;
      }
      .active-icon{
        color: #FF9900;
      }
      .address-info{
        flex: 1;
        span{
          &:nth-of-type(1){ 
            background-color: #009966;
            border-radius: 5px;
            color: white;
            padding: 2px 5px 2px;
            font-size: 1em;
            margin-right: 5px;
          }
          &:nth-of-type(2){
            font-weight: bold;
            font-size: 1.2em;
            margin-right: 10px;
          }
        }
        div{
          margin-top: 10px;
        }
      }
      a{
        text-align: center;
        border-radius: 5px;
        padding: 5px 10px 5px;
        margin-right: 20px;
        color: white;
        font-size: .9em;
        font-weight: bold;
        letter-spacing: 2px;
        text-indent:2px;
        background-color: #FF6666;
      }
    }
  }

  button{
    margin-top: 10%;
    height: 50px;
    left: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    font-size: 1.2em;
    background-color: #FF9900;
    font-weight: bold;
    letter-spacing: 2px;
    text-indent: 2px;
    color: white;
    width: 90%;
  }
  // 当地址列表为空时
  .prompt-box{
    position: absolute;
    top: 35%;left: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    img{
      height: 250px;
    }
    h2{
      color: black;
    }
  }
}
