.increAddress-box{
  position: absolute;
  z-index: 900;
  width: 100%;
  top: 0px;
  // height: 100%;
  background-color: white;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .header-box{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #999999;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 0 5px;
    margin-bottom: 5px;
    span{
      flex: 1;
    }
    .icon-back {
      position: absolute;
      width: 1.2em; height: 1.2em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
      margin-left: 10px;
   }
  }
  .input-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    // background-color: #FF9900;
    box-shadow: 0 0 10px 1px #999999;
    width: 95%;
    height: 50%;
    border-radius: 5px;
    // background-color: palevioletred;
    padding: 10px 20px 5px;
    div{
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 25px;
      label{
        font-weight: bold;
        position: absolute;
      }
      input{
        // position: absolute;
        transform: translateX(30%);
        width: 75%;
        left: 80px;
        height: 40px;
        background-color: unset;
        border-bottom: 2px solid #999999;
        font-size: 1.1em;
        &:focus{
          border-bottom: 2px solid #FF9900;
        }
      }
    }
    button{
      margin-top: 5px;
      width: 100%;
      height: 50px;
      font-weight: bold;
      letter-spacing: 5px;
      text-indent: 5px;
      font-size: 1.2em;
      color: white;
      background-color: #333333;
      border-radius: 5px;
    }
  }
}